/* Reset Styles */
html{

scroll-behavior:smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

transition:0.3s;

}

body {
    font-family: Arial, sans-serif;
}


/* Navigation Bar */

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    background-color: #0b6e99;
}


.logo {

    color: white;
    font-size: 25px;
    font-weight: bold;

}


.nav-links {

    list-style: none;
    display: flex;
    gap: 25px;

}


.nav-links a {

    color: white;
    text-decoration: none;
    font-size: 17px;

}


.nav-links a:hover {

    color: #ffd700;

}



/* Hero Section */


.hero {

    height: 90vh;

    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../images/hospital.jpg");


    background-size: cover;
    background-position: center;


    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: white;

}



.hero-content h1 {

    font-size: 50px;
    margin-bottom: 20px;

}



.hero-content p {

    font-size: 20px;
    max-width: 600px;

}



.btn {

    display: inline-block;

    margin-top: 30px;

    padding: 15px 30px;

    background-color: #0b6e99;

    color: white;

    text-decoration: none;

    border-radius: 30px;

}


.btn:hover {

    background-color: #084c70;

}

/* Doctors Section */


.doctors-section {

    padding: 50px;

    text-align: center;

}


.doctors-section h1 {

    font-size: 40px;

    margin-bottom: 30px;

}



#doctorSearch {

    width: 350px;

    padding: 15px;

    border-radius: 25px;

    border: 1px solid #ccc;

    margin-bottom: 40px;

}



.doctor-container {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}



.doctor-card {

    width: 300px;

    padding: 20px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}



.doctor-card img {

    width: 150px;

    height: 150px;

    border-radius: 50%;

    object-fit: cover;

}



.doctor-card h2 {

    margin-top: 15px;

    color:#0b6e99;

}

/* Services Section */


.services-section {

    padding: 60px 50px;

    text-align: center;

}



.services-section h1 {

    font-size: 40px;

    color:#0b6e99;

    margin-bottom:20px;

}



.services-container {


    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;

    margin-top:40px;

}




.service-card {


    width:300px;

    padding:30px;


    background:white;


    border-radius:15px;


    box-shadow:0 5px 15px rgba(0,0,0,0.15);


    transition:0.3s;


}




.service-card:hover {


    transform:translateY(-10px);


}



.service-card h2 {


    color:#0b6e99;

    margin-bottom:15px;


}



.service-card p {


    line-height:1.6;


}

/* Appointment Section */


.appointment-section {

    padding:60px 20px;

    text-align:center;

}



.appointment-section h1 {

    color:#0b6e99;

    font-size:40px;

    margin-bottom:30px;

}



#appointmentForm {


    width:400px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:15px;


}



#appointmentForm input,
#appointmentForm select {


    padding:15px;

    border-radius:8px;

    border:1px solid #ccc;

    font-size:16px;


}



#appointmentForm button {


    padding:15px;

    background:#0b6e99;

    color:white;

    border:none;

    border-radius:25px;

    font-size:18px;

    cursor:pointer;


}



#appointmentForm button:hover {


    background:#084c70;


}



#message {

    margin-top:20px;

    font-weight:bold;

}

/* Contact Section */


.contact-section {

    padding:60px 40px;

    text-align:center;

}



.contact-section h1 {

    color:#0b6e99;

    font-size:40px;

    margin-bottom:40px;

}



.contact-container {


    display:flex;

    justify-content:center;

    gap:50px;

    flex-wrap:wrap;


}



.contact-info,
.contact-form {


    width:350px;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);


}



.contact-info p {

    margin:20px 0;

}



.contact-form form {

    display:flex;

    flex-direction:column;

    gap:15px;

}



.contact-form input,
.contact-form textarea {


    padding:15px;

    border:1px solid #ccc;

    border-radius:8px;

}



.contact-form textarea {

    height:120px;

}



.contact-form button {


    padding:15px;

    background:#0b6e99;

    color:white;

    border:none;

    border-radius:25px;

    cursor:pointer;

}



footer {


    background:#0b6e99;

    color:white;

    text-align:center;

    padding:20px;

    margin-top:40px;

}

